<.live_component module={HeroComponent} id="hero-component" hero_image_url={Routes.static_path(@socket, "/images/hero.svg")} />
<.live_component module={ListItemsComponent} id="items-component" food_image_url={Routes.static_path(@socket, "/images/food.svg")} />

